#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman mariadb-app.service
BindsTo=photoprism.service
After=photoprism.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/mariadb-app.pid %t/mariadb-app.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/mariadb-app.pid \
    --cidfile %t/mariadb-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/photoprism.pod-id --replace -d --name mariadb-app \
    --env-file=%S/state/mariadb.env \
    --volume database:/var/lib/mysql/:Z \
    ${MARIADB_IMAGE} \
    --innodb-buffer-pool-size=2G --transaction-isolation=READ-COMMITTED --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --max-connections=512 --innodb-rollback-on-timeout=OFF --innodb-lock-wait-timeout=120
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/mariadb-app.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/mariadb-app.ctr-id
ExecReload=/usr/bin/podman kill -s HUP mariadb-app
SyslogIdentifier=%u
PIDFile=%t/mariadb-app.pid
Type=forking

[Install]
WantedBy=default.target